@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #111111;
  font-family: Poppins;
  min-width: 300px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.not-found {
  color: #ffffff;
  text-align: center;
}
